<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录页</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- 自定义javascript -->
<script type="text/javascript" src="/js/controller/categoryController.js"></script>
<script type="text/javascript" src="/js/make.js"></script>
</head>
<body onload="startFunction()">
	<!-- 首页标题 -->
	<div th:include="template/header::blog_header"></div>
	<!-- 发帖区 -->
	<div id="formArea"></div>
</body>